In [19]:
import pandas as pd
import numpy as np
import random
from destination.models import Place_rating, Places

In [20]:
df = pd.read_csv('ratings1.csv')

In [21]:
df

,name,267 Beni Bazaar (province no. 4),493 Patal bhuvaneshwor temple(cave) (province no. 7),38 Kongde ri (province no. 1),166 Chovar (province no. 3),2 Arjundhara Dham province no. 1,251 Lo Manthang trek province no. 4,173 Kathmandu fun park province no. 3,70 Sadhutar province no. 1,290 Annapurna Conservation Area province no. 4,...,22 Sandakphu province no.1,"61 Hile, dhankuta province no. 1",322 Cg Temple province no.4,323 Amaltari Homestay province no. 4,390 Durbar Devisthan province no. 5,486 Api Base camp trek province no. 7,330 Chaaya Kshetra province no.4,272 Begnas Lake province no.4,62 Lukla province no. 1,360 Banke National Park province no.5
0,Dipesh Bartaula,3.0,4.0,2.0,3.0,2.0,4.0,4,1.0,5.0,...,2.0,1.0,4.0,1.0,NaN,4.0,1.0,5.0,3.0,5.0
1,Gris Rimal,4.0,5.0,5.0,5.0,4.0,3.0,2,4.0,5.0,...,4.0,4.0,2.0,3.0,3.0,4.0,4.0,4.0,4.0,4.0
2,kshitiz poudel,5.0,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Sunlightwings,3.0,3.0,4.0,2.0,3.0,5.0,2,4.0,3.0,...,NaN,3.0,3.0,NaN,NaN,5.0,NaN,3.0,4.0,3.0
4,Sajjan Acharya,3.0,3.0,3.0,3.0,3.0,3.0,2,3.0,3.0,...,3.0,3.0,5.0,3.0,3.0,3.0,3.0,4.0,3.0,3.0
5,Arahanta pokhrel,4.0,3.0,5.0,2.0,5.0,5.0,3,4.0,5.0,...,4.0,5.0,5.0,4.0,4.0,4.0,4.0,4.0,4.0,3.0
6,Rajin Khatri,3.0,NaN,5.0,2.0,3.0,5.0,1,3.0,5.0,...,NaN,NaN,3.0,NaN,NaN,5.0,NaN,5.0,5.0,5.0
7,asdfghjl,NaN,NaN,NaN,3.0,NaN,NaN,3,NaN,NaN,...,NaN,NaN,4.0,NaN,NaN,NaN,NaN,5.0,NaN,4.0
8,pratigya paudel,4.0,3.0,3.0,4.0,3.0,4.0,3,3.0,5.0,...,3.0,4.0,5.0,4.0,5.0,3.0,4.0,3.0,4.0,4.0

In [22]:
df = df.fillna(0)

In [23]:
df

,name,267 Beni Bazaar (province no. 4),493 Patal bhuvaneshwor temple(cave) (province no. 7),38 Kongde ri (province no. 1),166 Chovar (province no. 3),2 Arjundhara Dham province no. 1,251 Lo Manthang trek province no. 4,173 Kathmandu fun park province no. 3,70 Sadhutar province no. 1,290 Annapurna Conservation Area province no. 4,...,22 Sandakphu province no.1,"61 Hile, dhankuta province no. 1",322 Cg Temple province no.4,323 Amaltari Homestay province no. 4,390 Durbar Devisthan province no. 5,486 Api Base camp trek province no. 7,330 Chaaya Kshetra province no.4,272 Begnas Lake province no.4,62 Lukla province no. 1,360 Banke National Park province no.5
0,Dipesh Bartaula,3.0,4.0,2.0,3.0,2.0,4.0,4,1.0,5.0,...,2.0,1.0,4.0,1.0,0.0,4.0,1.0,5.0,3.0,5.0
1,Gris Rimal,4.0,5.0,5.0,5.0,4.0,3.0,2,4.0,5.0,...,4.0,4.0,2.0,3.0,3.0,4.0,4.0,4.0,4.0,4.0
2,kshitiz poudel,5.0,0.0,0.0,0.0,0.0,0.0,2,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Sunlightwings,3.0,3.0,4.0,2.0,3.0,5.0,2,4.0,3.0,...,0.0,3.0,3.0,0.0,0.0,5.0,0.0,3.0,4.0,3.0
4,Sajjan Acharya,3.0,3.0,3.0,3.0,3.0,3.0,2,3.0,3.0,...,3.0,3.0,5.0,3.0,3.0,3.0,3.0,4.0,3.0,3.0
5,Arahanta pokhrel,4.0,3.0,5.0,2.0,5.0,5.0,3,4.0,5.0,...,4.0,5.0,5.0,4.0,4.0,4.0,4.0,4.0,4.0,3.0
6,Rajin Khatri,3.0,0.0,5.0,2.0,3.0,5.0,1,3.0,5.0,...,0.0,0.0,3.0,0.0,0.0,5.0,0.0,5.0,5.0,5.0
7,asdfghjl,0.0,0.0,0.0,3.0,0.0,0.0,3,0.0,0.0,...,0.0,0.0,4.0,0.0,0.0,0.0,0.0,5.0,0.0,4.0
8,pratigya paudel,4.0,3.0,3.0,4.0,3.0,4.0,3,3.0,5.0,...,3.0,4.0,5.0,4.0,5.0,3.0,4.0,3.0,4.0,4.0

In [24]:
for cname,cdata in df.iteritems():
    if cname == 'name':
        continue;
    a = cname.split()
    b = int(a[0])
    df.rename(columns={cname:b}, inplace=True)

In [25]:
df

,name,267,493,38,166,2,251,173,70,290,...,22,61,322,323,390,486,330,272,62,360
0,Dipesh Bartaula,3.0,4.0,2.0,3.0,2.0,4.0,4,1.0,5.0,...,2.0,1.0,4.0,1.0,0.0,4.0,1.0,5.0,3.0,5.0
1,Gris Rimal,4.0,5.0,5.0,5.0,4.0,3.0,2,4.0,5.0,...,4.0,4.0,2.0,3.0,3.0,4.0,4.0,4.0,4.0,4.0
2,kshitiz poudel,5.0,0.0,0.0,0.0,0.0,0.0,2,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Sunlightwings,3.0,3.0,4.0,2.0,3.0,5.0,2,4.0,3.0,...,0.0,3.0,3.0,0.0,0.0,5.0,0.0,3.0,4.0,3.0
4,Sajjan Acharya,3.0,3.0,3.0,3.0,3.0,3.0,2,3.0,3.0,...,3.0,3.0,5.0,3.0,3.0,3.0,3.0,4.0,3.0,3.0
5,Arahanta pokhrel,4.0,3.0,5.0,2.0,5.0,5.0,3,4.0,5.0,...,4.0,5.0,5.0,4.0,4.0,4.0,4.0,4.0,4.0,3.0
6,Rajin Khatri,3.0,0.0,5.0,2.0,3.0,5.0,1,3.0,5.0,...,0.0,0.0,3.0,0.0,0.0,5.0,0.0,5.0,5.0,5.0
7,asdfghjl,0.0,0.0,0.0,3.0,0.0,0.0,3,0.0,0.0,...,0.0,0.0,4.0,0.0,0.0,0.0,0.0,5.0,0.0,4.0
8,pratigya paudel,4.0,3.0,3.0,4.0,3.0,4.0,3,3.0,5.0,...,3.0,4.0,5.0,4.0,5.0,3.0,4.0,3.0,4.0,4.0

In [26]:
df['name'] = df['name'].str.strip().str.replace(' ','')

In [27]:
df

,name,267,493,38,166,2,251,173,70,290,...,22,61,322,323,390,486,330,272,62,360
0,DipeshBartaula,3.0,4.0,2.0,3.0,2.0,4.0,4,1.0,5.0,...,2.0,1.0,4.0,1.0,0.0,4.0,1.0,5.0,3.0,5.0
1,GrisRimal,4.0,5.0,5.0,5.0,4.0,3.0,2,4.0,5.0,...,4.0,4.0,2.0,3.0,3.0,4.0,4.0,4.0,4.0,4.0
2,kshitizpoudel,5.0,0.0,0.0,0.0,0.0,0.0,2,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Sunlightwings,3.0,3.0,4.0,2.0,3.0,5.0,2,4.0,3.0,...,0.0,3.0,3.0,0.0,0.0,5.0,0.0,3.0,4.0,3.0
4,SajjanAcharya,3.0,3.0,3.0,3.0,3.0,3.0,2,3.0,3.0,...,3.0,3.0,5.0,3.0,3.0,3.0,3.0,4.0,3.0,3.0
5,Arahantapokhrel,4.0,3.0,5.0,2.0,5.0,5.0,3,4.0,5.0,...,4.0,5.0,5.0,4.0,4.0,4.0,4.0,4.0,4.0,3.0
6,RajinKhatri,3.0,0.0,5.0,2.0,3.0,5.0,1,3.0,5.0,...,0.0,0.0,3.0,0.0,0.0,5.0,0.0,5.0,5.0,5.0
7,asdfghjl,0.0,0.0,0.0,3.0,0.0,0.0,3,0.0,0.0,...,0.0,0.0,4.0,0.0,0.0,0.0,0.0,5.0,0.0,4.0
8,pratigyapaudel,4.0,3.0,3.0,4.0,3.0,4.0,3,3.0,5.0,...,3.0,4.0,5.0,4.0,5.0,3.0,4.0,3.0,4.0,4.0

In [33]:
for i in range(0, len(df.index)):
    df.at[i,'name']='test'+df.at[i,'name']+str(random.randint(0,100))

In [34]:
df

,name,267,493,38,166,2,251,173,70,290,...,22,61,322,323,390,486,330,272,62,360
0,testDipeshBartaula65,3.0,4.0,2.0,3.0,2.0,4.0,4,1.0,5.0,...,2.0,1.0,4.0,1.0,0.0,4.0,1.0,5.0,3.0,5.0
1,testGrisRimal16,4.0,5.0,5.0,5.0,4.0,3.0,2,4.0,5.0,...,4.0,4.0,2.0,3.0,3.0,4.0,4.0,4.0,4.0,4.0
2,testkshitizpoudel80,5.0,0.0,0.0,0.0,0.0,0.0,2,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,testSunlightwings3,3.0,3.0,4.0,2.0,3.0,5.0,2,4.0,3.0,...,0.0,3.0,3.0,0.0,0.0,5.0,0.0,3.0,4.0,3.0
4,testSajjanAcharya11,3.0,3.0,3.0,3.0,3.0,3.0,2,3.0,3.0,...,3.0,3.0,5.0,3.0,3.0,3.0,3.0,4.0,3.0,3.0
5,testArahantapokhrel89,4.0,3.0,5.0,2.0,5.0,5.0,3,4.0,5.0,...,4.0,5.0,5.0,4.0,4.0,4.0,4.0,4.0,4.0,3.0
6,testRajinKhatri52,3.0,0.0,5.0,2.0,3.0,5.0,1,3.0,5.0,...,0.0,0.0,3.0,0.0,0.0,5.0,0.0,5.0,5.0,5.0
7,testasdfghjl8,0.0,0.0,0.0,3.0,0.0,0.0,3,0.0,0.0,...,0.0,0.0,4.0,0.0,0.0,0.0,0.0,5.0,0.0,4.0
8,testpratigyapaudel10,4.0,3.0,3.0,4.0,3.0,4.0,3,3.0,5.0,...,3.0,4.0,5.0,4.0,5.0,3.0,4.0,3.0,4.0,4.0

'16'